#gdrp-popup {
  display: none;
  width: 100%;
  padding-top: 7px;
  background: rgba(17, 87, 204, 0.9);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999; }
  #gdrp-popup.top {
    top: 0;
    bottom: auto; }
  #gdrp-popup .gdrp-popup-content {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; }
    #gdrp-popup .gdrp-popup-content .gdrp-popup-text {
      float: left;
      margin: 5px 0;
      text-align: left;
      max-width: 65%;
      font-size: 13px;
      color: #fff; }
      #gdrp-popup .gdrp-popup-content .gdrp-popup-text.black {
        color: #000000; }
      #gdrp-popup .gdrp-popup-content .gdrp-popup-text p {
        margin-bottom: 0.5em; }
    #gdrp-popup .gdrp-popup-content .gdrp-popup-buttons {
      overflow: hidden;
      text-align: center;
      padding-top: 4px;
      color: #000000; }
      #gdrp-popup .gdrp-popup-content .gdrp-popup-buttons.white {
        color: #ffffff; }
      #gdrp-popup .gdrp-popup-content .gdrp-popup-buttons button {
        margin-top: 11px;
        background: #fde143 none;
        border-radius: 0;
        border: none;
        text-shadow: none;
        box-shadow: none;
        font-weight: 500;
        transition: .2s ease background; }
      #gdrp-popup .gdrp-popup-content .gdrp-popup-buttons button:hover {
        text-decoration: underline; }

@media (max-width: 1200px) {
  #gdrp-popup .gdrp-popup-content {
    max-width: 960px; } }

@media (max-width: 991px) {
  #gdrp-popup .gdrp-popup-content {
    max-width: 90%; }
    #gdrp-popup .gdrp-popup-content .gdrp-popup-text {
      float: inherit;
      text-align: center;
      max-width: 100%; }
  #gdrp-popup .gdrp-popup-buttons {
    float: inherit;
    padding-bottom: 14px;
    max-width: 100%; } }
